body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: rgb(1, 1, 26);
}

.navbar {
  background-color: white;
  /* height: 100px; */
}

.navbar ul a {
  color: blue;
}

.navbar ul a:hover {
  color: #ff0062;
}

/* @media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
} */

.navbar-nav li:hover>ul.dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -6px;
}

/* rotate caret on hover */
.dropdown-menu>li>a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

.nav-item ul li a {
  color: black;
}

.bi {
  width: 40px;
  font-size: 25px;
  margin-right: 5px;
  background-color: grey;
  /* opacity: 0.6; */
}

.bi:hover {
  cursor: pointer;
}

.bi-youtube:hover {
  color: red;
}

.bi-instagram:hover {
  /* color: red; */
  background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bi-facebook:hover {
  color: rgb(11, 70, 233);
}

.bi-twitter:hover {
  color: rgb(10, 177, 243);
}

.bi-whatsapp:hover {
  color: rgb(12, 247, 12);
}

#socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  position: fixed;
}

#makeanenquiry a {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 500px;
  position: fixed;
  right: 0;
  text-decoration: none;
  font-size: 25px;
}

.d-block {
  height: 700px;
  opacity: 0.8;
}

#carouselExampleInterval {
  width: 1256px;
  /* height: 300px; */
  margin-left: 40px;
  margin-top: -75px;
}

.carousel-item {
  top: 90px;
  height: 650px;
}

#content1{
  width: auto;
  height: auto;
  background-image: linear-gradient(to right top, #fff9fd, #f0eaf0, #e1dce4, #d1ced7, #c0c0cb, #b9becb, #b1bcca, #a9bac8, #a8c2d0, #a6cbd5, #a6d4d8, #a9dcd9);
}
#navbarSupportedContent{
  margin-left: 100px;
}
#marque{
  background-image: linear-gradient(to right top, #0a0b0b, #3e403f, #767978, #b4b8b4, #f8fbf5);
}

/* First section */
section .cards1{
  display: flex;
}
section .cards1 .text-cards1{
  width: 300px;
  height: 300px;
  background-color: rgb(7, 185, 230);
  margin: 20px;
  padding: 25px;
}
section .cards1 .text-cards1 h3{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width:900px){
  section .cards1{
    flex-direction: column;
  }
}
.reveal1{
  position: relative;
  transform: translateY(25px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal1.active{
  transform: translateY(0);
  opacity: 1;
}

/* Second section */
section .cards2{
  display: flex;
}
section .cards2 .text-cards2{
  width: 300px;
  height: 300px;
  background-color: rgb(132, 139, 240);
  margin: 20px;
  padding: 25px;
}
section .cards2 .text-cards2 h3{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.reveal2{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal2.active{
  transform: translateY(0);
  opacity: 1;
}

/* Third section */
section .cards3{
  display: flex;
}
section .cards3 .text-cards3{
  width: 300px;
  height: 300px;
  background-color: rgb(132, 139, 240);
  margin: 20px;
  padding: 25px;
}
section .cards3 .text-cards3 h3{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.reveal3{
  position: relative;
  transform: translateY(75px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal3.active{
  transform: translateY(0);
  opacity: 1;
}

/* Fourth section */
section .cards4{
  display: flex;
}
section .cards4 .text-cards4{
  width: 300px;
  height: 300px;
  background-color: rgb(132, 139, 240);
  margin: 20px;
  padding: 25px;
}
section .cards4 .text-cards4 h3{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.reveal4{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal4.active{
  transform: translateY(0);
  opacity: 1;
}

/* Fifth section */
section .cards5{
  display: flex;
}
section .cards5 .text-cards5{
  width: 300px;
  height: 300px;
  background-color: rgb(132, 139, 240);
  margin: 20px;
  padding: 25px;
}
section .cards5 .text-cards5 h3{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.reveal5{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal5.active{
  transform: translateY(0);
  opacity: 1;
}



/* section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  color: white;
}
.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content{
  position: relative;
  width: 400px;
  display: flex;
  justify-self: center;
  align-items: center;
}
.content .text-box{
  width: 300px;
  height: 350px;
  background-color: #db1f2f;
  padding: 30px;
}
.content .text-box h3{
  font-size: 2em;
  margin-bottom: 10px;
}
.content .text-box1{
  width: 300px;
  height: 350px;
  background-color: #102f85;
  padding: 30px;
}
.content .text-box1 h3{
  font-size: 2em;
  margin-bottom: 10px;
}
.content .text-box2{
  width: 300px;
  height: 350px;
  background-color: #f188c2;
  padding: 30px;
}
.content .text-box2 h3{
  font-size: 2em;
  margin-bottom: 10px;
}
.content .text-box3{
  width: 300px;
  height: 350px;
  background-color: #f17006;
  padding: 30px;
}
.content .text-box3 h3{
  font-size: 2em;
  margin-bottom: 10px;
} */
