@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    /* color: rgb(51, 51, 87); */
}


.navbar {
  background-color: white;
  height: 75px;
}

.navbar ul a {
  color: blue;
}

.navbar ul a:hover {
  color: #ff0062;
}

/* @media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
} */

.navbar-nav li:hover>ul.dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -6px;
}

/* rotate caret on hover */
.dropdown-menu>li>a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

.nav-item ul li a {
  color: black;
}

.bi {
  width: 40px;
  font-size: 25px;
  margin-right: 5px;
  background-color: grey;
  /* opacity: 0.6; */
}

.bi:hover {
  cursor: pointer;
}

.bi-youtube:hover {
  color: red;
}

.bi-instagram:hover {
  /* color: red; */
  background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bi-facebook:hover {
  color: rgb(11, 70, 233);
}

.bi-twitter:hover {
  color: rgb(10, 177, 243);
}

.bi-whatsapp:hover {
  color: rgb(12, 247, 12);
}

#socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  position: fixed;
}

#makeanenquiry a {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 500px;
  position: fixed;
  right: 0;
  text-decoration: none;
  font-size: 25px;
}

#enquiryform{
  margin-left: auto;
  margin-right: auto;
}

.d-block {
  height: 700px;
  opacity: 0.8;
}

#carouselExampleInterval {
  width: 1256px;
  /* height: 300px; */
  margin-left: 40px;
  margin-top: -75px;
}

.carousel-item {
  top: 90px;
  height: 650px;
}

.carousel-caption{
  width: auto;
  height: 200px;
  /* margin-top: 20px; */
}
.carousel-caption p{
  font-size: 25px;
  font-weight: bold;
  color: white;
  /* margin-top: -450px; */
  margin-left: 300px;
}

#content1{
  width: auto;
  height: auto;
  background-image: linear-gradient(to right, #2b2b4d, #364a68, #6a8496, #adc0c6, #fafdfd);
  /* background-image: linear-gradient(to right, #020334, #214166, #5b7e94, #a5bdc4, #fafdfd); */
  /* background-image: linear-gradient(to right top, #fff9fd, #f0eaf0, #e1dce4, #d1ced7, #c0c0cb, #b9becb, #b1bcca, #a9bac8, #a8c2d0, #a6cbd5, #a6d4d8, #a9dcd9); */
}

#ourservice{
  height: auto;
  background-image: url('/public/images/service2.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

#navbarSupportedContent{
  margin-left: 100px;
}
#marque{
  background-image: linear-gradient(to right top, #0a0b0b, #3e403f, #767978, #b4b8b4, #f8fbf5);
}

/* .container{
  background-image: url('https://static9.depositphotos.com/1037987/1188/i/450/depositphotos_11886437-stock-photo-mixed-group-in-business-meeting.jpg');
  
} */
/* First section */
section .cards1{
  display: flex;
}
section .cards1 .text-cards1{
  width: 300px;
  height: 300px;
  /* background-color: rgb(7, 185, 230); */
  background-image: url('https://static9.depositphotos.com/1037987/1188/i/450/depositphotos_11886437-stock-photo-mixed-group-in-business-meeting.jpg');
  margin: 20px;
  padding: 25px;
}
section .cards1 .text-cards1 h3{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: none;
}
section .cards1 .text-cards1 p{
  display: none;
}
section .cards1 .text-cards1 button{
  display: none;
}
section .cards1 .text-cards1 h5{
  margin-top: 227px;
  background-color: #515ECF;
}
section .cards1 .text-cards1 h5:hover{
  text-transform: uppercase;
  
}
@media (max-width:900px){
  section .cards1{
    flex-direction: column;
  }
}
.reveal1{
  position: relative;
  transform: translateY(25px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal1.active{
  transform: translateY(0);
  opacity: 1;
}

/* Second section */
section .cards2{
  display: flex;
}
section .cards2 .text-cards2{
  width: 300px;
  height: 300px;
  background-color: rgb(132, 139, 240);
  margin: 20px;
  padding: 25px;
}
section .cards2 .text-cards2 h3{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.reveal2{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal2.active{
  transform: translateY(0);
  opacity: 1;
}

/* Third section */
section .cards3{
  display: flex;
}
section .cards3 .text-cards3{
  width: 300px;
  height: 300px;
  background-color: rgb(252, 4, 157);
  margin: 20px;
  padding: 25px;
}
section .cards3 .text-cards3 h3{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.reveal3{
  position: relative;
  transform: translateY(75px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal3.active{
  transform: translateY(0);
  opacity: 1;
}

/* Fourth section */
section .cards4{
  display: flex;
}
section .cards4 .text-cards4{
  width: 300px;
  height: 300px;
  background-color: rgb(132, 139, 240);
  margin: 20px;
  padding: 25px;
}
section .cards4 .text-cards4 h3{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.reveal4{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal4.active{
  transform: translateY(0);
  opacity: 1;
}

/* Fifth section */
section .cards5{
  display: flex;
}
section .cards5 .text-cards5{
  width: 300px;
  height: 300px;
  background-color: rgb(132, 139, 240);
  margin: 20px;
  padding: 25px;
}
section .cards5 .text-cards5 h3{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.reveal5{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal5.active{
  transform: translateY(0);
  opacity: 1;
}

/* Solutions */
#bigdata img{
  transition: 1.2s;
}
#bigdata img:hover{
  box-shadow: 3px 3px 10px rgb(3, 121, 231),-3px -3px 10px rgb(3, 121, 231);
}
.links ul li{
  list-style-type: none;
  text-align: start;
}
.links ul li a{
  text-decoration: none;
  color: white;
}
.links ul li a:hover{
  text-decoration: underline;
  color: rgb(8, 131, 247);
}


.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
}
.show{
  opacity: 1;
  transform: translateX(0);
}