@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: rgb(3, 3, 102);
}

.navbar {
  background-color: white;
  height: 75px;
}

.navbar ul a {
  color: rgb(3, 3, 102);
}

.navbar ul a:hover {
  color: #ff0062;
}

/* @media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
} */

.navbar-nav li:hover>ul.dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
}



.dropdown-submenu>.dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -6px;
}

/* rotate caret on hover */
.dropdown-menu>li>a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

.nav-item ul li a {
  color: black;
}

.bi {
  width: 40px;
  font-size: 25px;
  margin-right: 5px;
  background-color: grey;
  /* opacity: 0.6; */
}

.bi:hover {
  cursor: pointer;
}

.bi-youtube:hover {
  color: red;
}

.bi-instagram:hover {
  /* color: red; */
  background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bi-facebook:hover {
  color: rgb(11, 70, 233);
}

.bi-twitter:hover {
  color: rgb(10, 177, 243);
}

.bi-whatsapp:hover {
  color: rgb(12, 247, 12);
}

#socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  position: fixed;
}

#makeanenquiry a {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 500px;
  position: fixed;
  right: 0;
  text-decoration: none;
  font-size: 25px;
}

#enquiryform {
  margin-left: auto;
  margin-right: auto;
}

#form {
  background-image: url('/public/images/enquiry.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#eqform {
  background-image: url('/public/images/enquiry.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#eqnform {
  margin-left: 400px;
}

.d-block {
  height: 700px;
  opacity: 0.8;
}

#carouselExampleInterval {
  width: auto;
  /* height: 300px; */
  margin-left: 40px;
  margin-top: -75px;
  /* padding: 50px; */
}

.carousel-item {
  top: 90px;
  height: 650px;
}

.carousel-caption {
  width: auto;
  height: 200px;
  /* margin-top: 20px; */
}

.carousel-caption p {
  font-size: 25px;
  font-weight: bold;
  color: white;
  /* margin-top: -450px; */
  margin-left: 300px;
}

#content1 {
  width: auto;
  height: auto;
  background-image: linear-gradient(to right, #2b2b4d, #364a68, #6a8496, #adc0c6, #fafdfd);
  /* background-image: linear-gradient(to right, #020334, #214166, #5b7e94, #a5bdc4, #fafdfd); */
  /* background-image: linear-gradient(to right top, #fff9fd, #f0eaf0, #e1dce4, #d1ced7, #c0c0cb, #b9becb, #b1bcca, #a9bac8, #a8c2d0, #a6cbd5, #a6d4d8, #a9dcd9); */
}

#ourservice {
  height: auto;
  background-image: url('/public/images/service2.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

#navbarSupportedContent {
  margin-left: 100px;
}

#marque {
  background-image: linear-gradient(to right top, #0a0b0b, #3e403f, #767978, #b4b8b4, #f8fbf5);
}


/* First section */
section .cards1 {
  display: flex;
}

section .cards1 .text-cards1 {
  width: 300px;
  height: 300px;
  background-color: rgb(7, 185, 230);
  margin: 20px;
  padding: 25px;
}

section .cards1 .text-cards1 h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.reveal1 {
  position: relative;
  transform: translateY(25px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal1.active {
  transform: translateY(0);
  opacity: 1;
}

/* Second section */
section .cards2 {
  display: flex;
}

section .cards2 .text-cards2 {
  width: 300px;
  height: 300px;
  background-color: rgb(132, 139, 240);
  margin: 20px;
  padding: 25px;
}

section .cards2 .text-cards2 h3 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.reveal2 {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal2.active {
  transform: translateY(0);
  opacity: 1;
}

/* Third section */
section .cards3 {
  display: flex;
}

section .cards3 .text-cards3 {
  width: 300px;
  height: 300px;
  background-color: rgb(252, 4, 157);
  margin: 20px;
  padding: 25px;
}

section .cards3 .text-cards3 h3 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.reveal3 {
  position: relative;
  transform: translateY(75px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal3.active {
  transform: translateY(0);
  opacity: 1;
}

/* Fourth section */
section .cards4 {
  display: flex;
}

section .cards4 .text-cards4 {
  width: 300px;
  height: 300px;
  background-color: rgb(132, 139, 240);
  margin: 20px;
  padding: 25px;
}

section .cards4 .text-cards4 h3 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.reveal4 {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal4.active {
  transform: translateY(0);
  opacity: 1;
}

/* Fifth section */
section .cards5 {
  display: flex;
}

section .cards5 .text-cards5 {
  width: 300px;
  height: 300px;
  background-color: rgb(132, 139, 240);
  margin: 20px;
  padding: 25px;
}

section .cards5 .text-cards5 h3 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.reveal5 {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal5.active {
  transform: translateY(0);
  opacity: 1;
}

/* Solutions */
#bigdata img {
  transition: 1.2s;
}

#bigdata img:hover {
  box-shadow: 3px 3px 10px rgb(3, 121, 231), -3px -3px 10px rgb(3, 121, 231);
}

.links ul li {
  list-style-type: none;
  text-align: start;
}

.links ul li a {
  text-decoration: none;
  color: white;
}

.links ul li a:hover {
  text-decoration: underline;
  color: rgb(8, 131, 247);
}


.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  transform: translateX(0);
}


/* media queries */

@media (min-width: 1281px) {

  /* Footer */
  #footer1 {
    width: 25%;
  }

  #footer1 .links {
    font-size: large;
  }

  #footer2 {
    width: 25%;
  }

  #footer2 .links {
    font-size: large;
  }

  #footer3 {
    width: 25%;
  }

  #footer3 .links {
    font-size: large;
  }

  #footer4 {
    width: 25%;
  }

  #footer4 .links {
    font-size: large;
  }

  #footertext p {
    font-size: large;
  }

  /* Home Page */
  /* carousel */
  #carouselExampleInterval {
    width: auto;
    /* height: 300px; */
    margin-left: 40px;
    margin-top: -75px;
    margin-right: 47px;
  }

  .carousel-item {
    top: 90px;
    height: 650px;
  }

  .carousel-caption {
    width: auto;
    height: 200px;
    /* margin-top: 20px; */
  }

  .carousel-caption p {
    font-size: 25px;
    font-weight: bold;
    color: white;
    /* margin-top: -450px; */
    margin-left: 300px;
  }

  #section1 h1 {
    width: auto;
    font-size: 40px;
  }

  #section1 h3 {
    width: auto;
    font-size: 30px;
  }

  #section1 p {
    width: auto;
    font-size: large;
  }

  #section2 h2 {
    width: auto;
    font-size: 40px;
  }

  #section2 p {
    width: auto;
    font-size: 30px;
  }

  #section2 img {
    width: 500px;
    height: 350px;
  }

  #section3 img {
    width: 500px;
    height: 350px;
  }

  #section3 h2 {
    width: auto;
    font-size: 40px;
  }

  #section3 p {
    width: auto;
    font-size: 30px;
  }

  #section4 h2 {
    width: auto;
    font-size: 40px;
  }

  #section4 p {
    width: auto;
    font-size: 30px;
  }

  #section4 img {
    width: 300px;
    height: 300px;
  }

  #section5 img {
    width: 80%;
    height: 350px;
  }

  #section5 h2 {
    width: 100%;
    font-size: 40px;
  }

  #section5 p {
    width: 100%;
    font-size: 30px;
  }

  #section6 h1 {
    width: 100%;
    font-size: 40px;
  }

  #section6 p {
    width: 100%;
    font-size: 25px;
  }

  /* Our services */
  section .cards1 {
    display: flex;
  }
  section .cards1 .text-cards1 {
    width: 300px;
    height: 300px;
    background-color: rgb(7, 185, 230);
    margin: 20px;
    padding: 25px;
  }
  section .cards1 .text-cards1 h3 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  section .cards2 {
    display: flex;
  }
  section .cards2 .text-cards2 {
    width: 300px;
    height: 300px;
    background-color: rgb(132, 139, 240);
    margin: 20px;
    padding: 25px;
  }
  section .cards2 .text-cards2 h3 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  /* Third section */
  section .cards3 {
    display: flex;
  }
  section .cards3 .text-cards3 {
    width: 300px;
    height: 300px;
    background-color: rgb(252, 4, 157);
    margin: 20px;
    padding: 25px;
  }
  section .cards3 .text-cards3 h3 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  /* Fourth section */
  section .cards4 {
    display: flex;
  }
  section .cards4 .text-cards4 {
    width: 300px;
    height: 300px;
    background-color: rgb(132, 139, 240);
    margin: 20px;
    padding: 25px;
  }
  section .cards4 .text-cards4 h3 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  /* Fifth section */
  section .cards5 {
    display: flex;
  }
  section .cards5 .text-cards5 {
    width: 300px;
    height: 300px;
    background-color: rgb(132, 139, 240);
    margin: 20px;
    padding: 25px;
  }
  section .cards5 .text-cards5 h3 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  #section10 h1{
    font-size: 40px;
  }

  #section11 img {
    width: 80%;
    height: 350px;
  }
  #section11 h2 {
    width: 100%;
    font-size: 40px;
  }
  #section11 p {
    width: 100%;
    font-size: 30px;
  }

  #section12 img {
    width: 80%;
    height: 350px;
  }
  #section12 h2 {
    width: 100%;
    font-size: 40px;
  }
  #section12 p {
    width: 100%;
    font-size: 30px;
  }

  #section13 h2 {
    width: auto;
    font-size: 40px;
  }
  #section13 p {
    width: auto;
    font-size: 30px;
  }

  /* Aboutus */
  #aboutuscontent p {
    width: 100%;
  }

  #aboutusimage img {
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {

  /* hi-res laptops and desktops */
  /* #aboutus h1{
    font-size: 20px;
  } */

  /* Footer */
  #footer1 {
    width: 22%;
  }

  #footer1 .links {
    font-size: medium;
  }

  #footer2 {
    width: 22%;
  }

  #footer2 .links {
    font-size: medium;
  }

  #footer3 {
    width: 22%;
  }

  #footer3 .links {
    font-size: medium;
  }

  #footer4 {
    width: 22%;
  }

  #footer4 .links {
    font-size: medium;
  }

  #footertext p {
    font-size: medium;
  }

  /* Home Page */
  /* carousel */
  #carouselExampleInterval {
    width: auto;
    /* height: 250px; */
    margin-left: 40px;
    margin-top: -75px;
    margin-right: 47px;
  }

  .carousel-item {
    top: 90px;
    height: 550px;
  }

  .carousel-caption {
    width: auto;
    height: 200px;
    /* margin-top: 20px; */
  }

  .carousel-caption p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    /* margin-top: -450px; */
    margin-left: 250px;
  }

  #section1 h1 {
    width: auto;
    font-size: 35px;
  }

  #section1 h3 {
    width: auto;
    font-size: 25px;
  }

  #section1 p {
    width: auto;
    font-size: medium;
  }

  #section2 h2 {
    width: 100%;
    font-size: 35px;
  }

  #section2 p {
    width: 100%;
    font-size: 25px;
  }

  #section2 img {
    width: 400px;
    height: 300px;
  }

  #section3 img {
    width: 400px;
    height: 300px;
  }

  #section3 h2 {
    width: 100%;
    font-size: 35px;
  }

  #section3 p {
    width: 100%;
    font-size: 25px;
  }

  #section4 h2 {
    width: 100%;
    font-size: 35px;
  }

  #section4 p {
    width: 100%;
    font-size: 25px;
  }

  #section4 img {
    width: 250px;
    height: 250px;
  }

  #section5 img {
    width: 400px;
    height: 300px;
  }

  #section5 h2 {
    width: 100%;
    font-size: 35px;
  }

  #section5 p {
    width: 100%;
    font-size: 25px;
  }

  #section6 h1 {
    width: 100%;
    font-size: 35px;
  }

  #section6 p {
    width: 100%;
    font-size: 20px;
  }

  /* Our services */
  section .cards1 {
    display: flex;
  }
  section .cards1 .text-cards1 {
    width: 250px;
    height: 250px;
    background-color: rgb(7, 185, 230);
    margin: 15px;
    padding: 15px;
  }
  section .cards1 .text-cards1 h3 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  section .cards2 {
    display: flex;
  }
  section .cards2 .text-cards2 {
    width: 250px;
    height: 250px;
    background-color: rgb(132, 139, 240);
    margin: 15px;
    padding: 15px;
  }
  section .cards2 .text-cards2 h3 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  /* Third section */
  section .cards3 {
    display: flex;
  }
  section .cards3 .text-cards3 {
    width: 250px;
    height: 250px;
    background-color: rgb(252, 4, 157);
    margin: 15px;
    padding: 15px;
  }
  section .cards3 .text-cards3 h3 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  /* Fourth section */
  section .cards4 {
    display: flex;
  }
  section .cards4 .text-cards4 {
    width: 250px;
    height: 250px;
    background-color: rgb(132, 139, 240);
    margin: 15px;
    padding: 15px;
  }
  section .cards4 .text-cards4 h3 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  /* Fifth section */
  section .cards5 {
    display: flex;
  }
  section .cards5 .text-cards5 {
    width: 250px;
    height: 250px;
    background-color: rgb(132, 139, 240);
    margin: 15px;
    padding: 15px;
  }
  section .cards5 .text-cards5 h3 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  #section10 h1{
    font-size: 35px;
  }

  #section11 img {
    width: 300px;
    height: 300px;
  }
  #section11 h2 {
    width: 100%;
    font-size: 35px;
  }
  #section11 p {
    width: 100%;
    font-size: 25px;
  }

  #section12 img {
    width: 300px;
    height: 300px;
  }
  #section12 h2 {
    width: 100%;
    font-size: 35px;
  }
  #section12 p {
    width: 100%;
    font-size: 25px;
  }

  #section13 h2 {
    width: auto;
    font-size: 35px;
  }
  #section13 p {
    width: auto;
    font-size: 25px;
  }


  /* Aboutus */
  #aboutuscontent p {
    width: 100%;
    font-size: medium;
  }

  #aboutusimage img {
    width: 95%;
    height: 400px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  /* Footer */
  #footer1 {
    width: 20%;
  }

  #footer1 .links {
    font-size: small;
  }

  #footer2 {
    width: 20%;
  }

  #footer2 .links {
    font-size: small;
  }

  #footer3 {
    width: 20%;
  }

  #footer3 .links {
    font-size: small;
  }

  #footer4 {
    width: 20%;
  }

  #footer4 .links {
    font-size: small;
  }

  #footertext p {
    font-size: small;
  }

  /* Home Page */
  /* carousel */
  #carouselExampleInterval {
    width: auto;
    /* height: 300px; */
    margin-left: 40px;
    margin-top: -75px;
    margin-right: 47px;
  }

  .carousel-item {
    top: 90px;
    height: 450px;
  }

  .carousel-caption {
    width: auto;
    height: 200px;
    /* margin-top: 20px; */
  }

  .carousel-caption p {
    font-size: 15px;
    font-weight: bold;
    color: white;
    /* margin-top: -450px; */
    margin-left: 200px;
  }

  #section1 h1 {
    width: auto;
    font-size: 30px;
  }

  #section1 h3 {
    width: auto;
    font-size: 20px;
  }

  #section1 p {
    width: auto;
    font-size: small;
  }

  #section2 h2 {
    width: 100%;
    font-size: 30px;
  }

  #section2 p {
    width: 100%;
    font-size: 20px;
  }

  #section2 img {
    width: 250px;
    height: 250px;
  }

  #section3 img {
    width: 250px;
    height: 250px;
  }

  #section3 h2 {
    width: 100%;
    font-size: 30px;
  }

  #section3 p {
    width: 100%;
    font-size: 20px;
  }

  #section4 h2 {
    width: 100%;
    font-size: 30px;
  }

  #section4 p {
    width: 100%;
    font-size: 20px;
  }

  #section4 img {
    width: 200px;
    height: 200px;
  }

  #section5 img {
    width: 250px;
    height: 250px;
  }

  #section5 h2 {
    width: 100%;
    font-size: 30px;
  }

  #section5 p {
    width: 100%;
    font-size: 20px;
  }

  #section6 h1 {
    width: 100%;
    font-size: 30px;
  }

  #section6 p {
    width: 100%;
    font-size: 15px;
  }

  /* Our services */
  section .cards1 {
    display: flex;
  }
  section .cards1 .text-cards1 {
    width: 250px;
    height: 250px;
    background-color: rgb(7, 185, 230);
    margin: 10px;
    padding: 15px;
  }
  section .cards1 .text-cards1 h3 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  section .cards2 {
    display: flex;
  }
  section .cards2 .text-cards2 {
    width: 250px;
    height: 250px;
    background-color: rgb(132, 139, 240);
    margin: 10px;
    padding: 15px;
  }
  section .cards2 .text-cards2 h3 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  /* Third section */
  section .cards3 {
    display: flex;
  }
  section .cards3 .text-cards3 {
    width: 250px;
    height: 250px;
    background-color: rgb(252, 4, 157);
    margin: 10px;
    padding: 15px;
  }
  section .cards3 .text-cards3 h3 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  /* Fourth section */
  section .cards4 {
    display: flex;
  }
  section .cards4 .text-cards4 {
    width: 250px;
    height: 250px;
    background-color: rgb(132, 139, 240);
    margin: 10px;
    padding: 15px;
  }
  section .cards4 .text-cards4 h3 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  /* Fifth section */
  section .cards5 {
    display: flex;
  }
  section .cards5 .text-cards5 {
    width: 250px;
    height: 250px;
    background-color: rgb(132, 139, 240);
    margin: 10px;
    padding: 15px;
  }
  section .cards5 .text-cards5 h3 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  #section10 h1{
    font-size: 30px;
  }

  #section11 img {
    width: 250px;
    height: 250px;
  }
  #section11 h2 {
    width: 100%;
    font-size: 30px;
  }
  #section11 p {
    width: 100%;
    font-size: 20px;
  }

  #section12 img {
    width: 250px;
    height: 250px;
  }
  #section12 h2 {
    width: 100%;
    font-size: 30px;
  }
  #section12 p {
    width: 100%;
    font-size: 20px;
  }

  #section13 h2 {
    width: auto;
    font-size: 30px;
  }
  #section13 p {
    width: auto;
    font-size: 20px;
  }


  /* Aboutus */
  #aboutuscontent p {
    width: 100%;
    font-size: small;
  }

  #aboutusimage img {
    width: 100%;
    height: 300px;
  }
}